*.pyc
*.psd
Dos/
presets/
plug-ins/
user.toolclips/
scripts/IMX_Anim/
scripts/JUM/
scripts/old/
scripts/studiolibrary/
scripts/ThunderCloud/
scripts/zooMel/
scripts/zooPy/
scripts/zooPyMaya/
scripts/zv/
scripts/*.mel
prefs/hotkeys/
prefs/mainWindowStates/
prefs/markingMenus/
prefs/scriptEditorTemp/
prefs/scripts/
prefs/workspaces/
prefs/*.mel
js_*.mel
vm_*

#individual files
Maya.env
prefs/MayaInterfaceScalingConfig
prefs/icons/2Lay.png
prefs/icons/Center.png
prefs/icons/Convert_Shaders.png
prefs/icons/Delete_namespace_pasted.png
prefs/icons/FIX.png
prefs/icons/FileTextureManager.bmp
prefs/icons/MilaToVrayIcon.png
prefs/icons/OBJ_EXP.png
prefs/icons/OBJ_IMP.png
prefs/icons/ObjIDIcon.png
prefs/icons/PKG_Clean.png
prefs/icons/Qube.png
prefs/icons/Shaders.png
prefs/icons/Submit.png
prefs/icons/ToLambertIcon.png
prefs/icons/Unity_Color.png
prefs/icons/VRay.png
prefs/icons/VrayMat.png
prefs/icons/VraytoLambert.png
prefs/icons/ZVparent.png
prefs/icons/addCtrl.bmp
prefs/icons/addGeo.bmp
prefs/icons/addPlane.bmp
prefs/icons/bakeUnity.png
prefs/icons/barbieOTGshaders.png
prefs/icons/connectSel.bmp
prefs/icons/copySdk.bmp
prefs/icons/createShaders.bmp
prefs/icons/cutPlaneDone.bmp
prefs/icons/grep_rename.bmp
prefs/icons/hashRename.bmp
prefs/icons/ikStretch.bmp
prefs/icons/makeRoll.bmp
prefs/icons/matchPosition.png
prefs/icons/mattel_shaders.png
prefs/icons/mergeMult.bmp
prefs/icons/mergeSnap.bmp
prefs/icons/mia2mila.png
prefs/icons/objExport.png
prefs/icons/phxfdturbpreview.tga
prefs/icons/pivot_copy.bmp
prefs/icons/pivot_create.bmp
prefs/icons/pivot_move.bmp
prefs/icons/pivot_snap.bmp
prefs/icons/pivot_vis.bmp
prefs/icons/pivot_vis_move.bmp
prefs/icons/plastic.png
prefs/icons/pollyShaders.png
prefs/icons/pooparoos.png
prefs/icons/psd.png
prefs/icons/rigDarts.bmp
prefs/icons/rotOrder.bmp
prefs/icons/scaleJoint.bmp
prefs/icons/scat.png
prefs/icons/screw.bmp
prefs/icons/sdkAuto.bmp
prefs/icons/sdkLength.bmp
prefs/icons/setProject.png
prefs/icons/shake.png
prefs/icons/smoothSkin.png
prefs/icons/spaceMatch.bmp
prefs/icons/splitJoint.bmp
prefs/icons/studioLibrary.png
prefs/icons/suffix.bmp
prefs/icons/toRef.bmp
prefs/icons/trans.png
prefs/icons/twistySeg.bmp
prefs/icons/vraytuner.png
prefs/renderNodeTypeFavorites
prefs/shelves/shelf_Animation.mel
prefs/shelves/shelf_Arnold.mel
prefs/shelves/shelf_Bifrost.mel
prefs/shelves/shelf_CurvesSurfaces.mel
prefs/shelves/shelf_FX.mel
prefs/shelves/shelf_FXCaching.mel
prefs/shelves/shelf_Jaime.mel
prefs/shelves/shelf_LR_tools.mel
prefs/shelves/shelf_MASH.mel
prefs/shelves/shelf_MotionGraphics.mel
prefs/shelves/shelf_Polygons.mel
prefs/shelves/shelf_Rendering.mel
prefs/shelves/*Rigging.mel
prefs/shelves/shelf_Sculpting.mel
prefs/shelves/shelf_VM.mel
prefs/shelves/shelf_VM_GeoClean.mel
prefs/shelves/shelf_VM_PKG.mel
prefs/shelves/shelf_VM_Packaging.mel
prefs/shelves/shelf_VM_Rig.mel
prefs/shelves/shelf_VRay.mel
prefs/shelves/shelf_XGen.mel
prefs/shelves/shelf_HDRLightStudio5.mel
prefs/shelves/shelf_MentalRay.mel
prefs/shelves/shelf_PhoenixFD.mel
prefs/shelves/shelf_Polygons_User.mel
prefs/shelves/shelf_SLiB.mel
prefs/shelves/uvShelf_Custom.mel
prefs/synColorConfig.xml
prefs/synColorConfig.xml.lock
prefs/synColorFileRules.xml
scripts/ZvParentMaster.py
scripts/arShake_v013.py
scripts/assignShader.py
scripts/lr_LambertToVRay.py
scripts/lr_ToBlinn.py
scripts/lr_ToLambert.py
scripts/lr_ToLambert_transparent - Copy.py
scripts/lr_ToLambert_transparent.py
scripts/lr_ToVray.py
scripts/lr_assignShader.py
scripts/lr_bakeAnim.py
scripts/lr_bakeAnimForUnity.py
scripts/lr_bakeBlendShader - Copy.py
scripts/lr_bakeBlendShader.py
scripts/lr_ctrlOrientTool_noGroup.py
scripts/lr_getHDRtexture.py
scripts/lr_massOBJexport.py
scripts/lr_orientGrp.py
scripts/lr_populatePopup.py
scripts/lr_populateShaderMenu.py
scripts/lr_runOBJbatch.py
scripts/lr_save_duplicate.py
scripts/lr_save_duplicate_old.py
scripts/lr_snap.py
scripts/lr_snapTool.py
scripts/lr_sta_batchOBJ.py
scripts/renameDuplicates.py
scripts/tf_smoothSkinWeight.py
scripts/userSetup.py
scripts/vraytuner_pycomponents.py
scripts/wheelRig.py
scripts/wheelRig1.py
scripts/zooToolbox.py
Plug-Ins_LIST.jpg
prefs/icons/Thumbs.db
prefs/userPrefs.mela05036

